<script>
	const childProcess = require("child_process");
</script>


<dom-module id="view-creator">
<style>
	:host { position:absolute; left:0;top:0;bottom:0;right:0; padding:0; margin:0; background: white; }
	:host > table { position:absolute; left:0; top:0; bottom:0; right:0;}
	td.list {  position:relative; }
	td.list > div { position:absolute; left:0; top:0; bottom:0; right:0; overflow:auto; }
	li { margin:0; padding:0;  display:flex; flex-direction: column;}
	ul { position:absolute; left:0;top:0;bottom:0;right:0; padding:0; margin:0;}
	#search { height:1px; }

	#list { font-size:12px; }

	#list table { width:100%; height:auto; padding:0; margin:0;}
	#list td { padding: 4px 10px; cursor:pointer; }
	#list td:first-child { width:0px; }
	.category {
		display:flex; flex-direction: row; align-items: center; align-content: center; justify-content: flex-start;
		font-size:13px; font-weight:bold; padding-top:4px; cursor: hand;
	}
	.category img { margin:5px;}
	#list tr:hover > td { cursor:hand; background: rgba(0,0,255,0.1);}
	.modules { padding-bottom:15px;}

	input {
		font-size:13px; width:100%; padding:4px; margin:0;
		padding-left:23px;
		background:url("../resources/icons/find.png") no-repeat white 2px 3px;
	}
	#search { background:#eeeeee; border-bottom:1px solid #cccccc; padding:5px;}
</style>
<template>
	<table><tr><td id="search">
		<input type="text" value="{{filter::input}}"></input>
	</td></tr><tr><td class="list"><div>
	<ul id="list">
		<template id='categories' is="dom-repeat" as="cat" items='{{categories}}' filter="filterCategories">
			<li>
				<div class="category" on-tap="onOpenCategory"><img src="../resources/icons/folder.png"> {{cat.name}}</div>
				<div class="modules">
				<table cellspacing=0 cellpadding=0 border=0>
					<template class='list' is="dom-repeat" items='{{cat.modules}}' filter="filterModules" observe="cat.modules filter">
						<tr on-tap="onClick"><td width="1%">ICON</td><td width='100%' class="name">{{item.name}}</td></tr>
					</template>
				</table>
				</div>
			</li>
		</template>
	</div></ul>
</td></tr></table>
</template>
</dom-module>
<script>

Polymer({
	is: 'view-creator',
	properties: {
		categories: {notify:true, value:[]},
		filter: {notify:true, value:'', observer:'onFilterChange'}
	},

	attached: function() {
		this.load();
	},

	addModule: function(m) {
		if(!m.category) m.category = "Others";
		if(!m.name) return;
		var had = false;
		this.set("categories", this.categories.map(function(c) {
			if(c.name===m.category)  { c.modules.push(m); had = true; }
			return c;
		}));
		if(!had) this.push("categories", {name:m.category, modules:[m]});
	},

	load: function() {
		var that = this;
		var declaredModules = childProcess.execSync("pgcc -l").toString().split("\n").map(function(m) {
			var params = m.split(" ");
			return {
				language: params[0],
				src: params[1],
				line: params[2],
				ret: params[3],
				name: params[4],
				args: params[5]
			};
		});
		declaredModules.forEach(function(m){
			that.addModule({name:m.name, category:m.language});
		});
	},

	onClick: function(evt) {
		var e = $(evt.target);
		if(!e.hasClass("name")) e = $(e).parents("tr").children(".name");
		Commands.CreateModule({class:e.text()});
	},

	onOpenCategory: function(evt) {
		$(evt.target).next().slideToggle(200);
	},

	onFilterChange: function() {
		this.$.categories.render();
		$("#ul").find(".list").each(function() { this.render(); });
	},

	filterCategories: function(item) {
		var that = this;
		return item.modules.filter(function(m) { return !that.filter || m.name.indexOf(that.filter)!==-1; }).length>0;
	},

	filterModules: function(item) {
		return !this.filter || item.name.indexOf(this.filter)!==-1;
	}


});


</script>
