<link rel="import" href="../ui/tree-view.html">
<script src="../model/Project.js"></script>

<dom-module id="view-explorer">
<style>
	:host { width:100%; height:100%; overflow-y: auto; background:white; }
</style>
<template>
	<tree-view id="tree" items="{{projects}}"></tree-view>
</template>
</dom-module>
<script>

Polymer({
	is: 'view-explorer',
	properties: {
		projects: {notify:true, value:[]}
	},

	attached: function() {
	},

	addProject: function(p) {
		var that = this;
		function createProjectView(p) {
			return {
				project:p,
				name:p.name, icon:"folder.png", items:[
					{name:"Libraries", icon:"library.png", items:p.libs},
					{name:"src", icon:"folder.png", items:p.scripts}
				],
				clickHandler:function(evt) {
					WORKBENCH.curProject = p;
				}
			};
		}

		this.push('projects',  createProjectView(p));
		p.on("change", function(){
			that.set("projects", that.projects.map(function(pp){
				if(p!=pp.project) return pp;
				return createProjectView(p);
			}));
		});
	},

	removeProject: function(p) {
		this.set("projects", this.projects.filter(function(pp) {return pp.project != p;}));
	}

});


</script>
